::ng-deep .mat-dialog-container {
    min-width: 40vw;
    max-width: 100vw;
    max-height: 100vh;
    overflow: scroll;
}

form{
    display: flex;
}

form section{
    padding:2%;
}

section mat-form-field:nth-child(even){
    width: 100% !important;
}

section mat-form-field:nth-child(odd){
    width: 100% !important;
}